@mixin shadow {
  -webkit-box-shadow: -5px 5px 11px -2px rgba(0,0,0,0.67);
  -moz-box-shadow: -5px 5px 11px -2px rgba(0,0,0,0.67);
  box-shadow: -5px 5px 11px -2px rgba(0,0,0,0.67);
}
@mixin border {
  border: 1px solid #ccc;
}

#concept {
	@include shadow;
	@include border;
}
.row {
	margin: 30px 0;
}